@page
@model VipCon.Pages.Noticias.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Noticia</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Noticia.Titulo" class="control-label"></label>
                <input asp-for="Noticia.Titulo" class="form-control" />
                <span asp-validation-for="Noticia.Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noticia.Chamada" class="control-label"></label>
                <input asp-for="Noticia.Chamada" class="form-control" />
                <span asp-validation-for="Noticia.Chamada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noticia.Descricao" class="control-label"></label>
                <textarea asp-for="Noticia.Descricao" class="form-control summernote"></textarea>
                <span asp-validation-for="Noticia.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noticia.DataHoraInclusao" class="control-label"></label>
                <input asp-for="Noticia.DataHoraInclusao" class="form-control" />
                <span asp-validation-for="Noticia.DataHoraInclusao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noticia.Imagem" class="control-label"></label>
                <input asp-for="Imagem" type="file" class="form-control" />
                <span asp-validation-for="Noticia.Imagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function() {
            $('.summernote').summernote({ lang: 'pt-BR' });
        });
    </script>
}
