@page
@model VipCon.Pages.Prospect.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Prospect.Nome" class="control-label"></label>
                <input asp-for="Prospect.Nome" class="form-control" />
                <span asp-validation-for="Prospect.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prospect.Telefone" class="control-label"></label>
                <input asp-for="Prospect.Telefone" class="form-control" />
                <span asp-validation-for="Prospect.Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prospect.Email" class="control-label"></label>
                <input asp-for="Prospect.Email" class="form-control" />
                <span asp-validation-for="Prospect.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prospect.ModalidadeConsorcio" class="control-label"></label>
                <input asp-for="Prospect.ModalidadeConsorcio" class="form-control" />
                <span asp-validation-for="Prospect.ModalidadeConsorcio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Simular" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
