<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VipCon</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/theme.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/site.css?v=2" />
        <link href="~/css/jcrop/Jcrop.css" rel="stylesheet" />
        <link href="~/summernote/summernote.css" rel="stylesheet" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <!--<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/theme.min.css" />
        <link rel="stylesheet" href="~/css/site.css?v=2" />
        <link href="~/css/jcrop/Jcrop.css" rel="stylesheet" />
        <link href="~/summernote/summernote.css" rel="stylesheet" />

    </environment>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index"><img src="~/images/logo_vipcon_horizontal.jpg" class="img-responsive img-rounded" id="logo" /></a>
            </div>
            <div class="navbar-collapse collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li id="item-menu-sobre"><a asp-page="/About">Sobre</a></li>
                    <li id="item-menu-contato"><a asp-page="/Contact">Contato</a></li>
                    <li id="item-menu-parceiros"><a asp-page="/Parceiros/Listagem">Parceiros</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li id="item-menu-links"><a asp-page="/LinksUteis">Links Úteis</a></li>
                        if (User.IsInRole("Administrator"))
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Cadastros
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-page="/Prospect/Index">Simulações</a></li>
                                    <li><a asp-page="/Noticias/Index">Notícias</a></li>
                                    <li><a asp-page="/Parceiros/Index">Parceiros</a></li>
                                    <li><a asp-page="/Usuarios/ListaUsuario">Usuários</a></li>
                                </ul>
                            </li>
                        }
                    }

                </ul>
                @await Html.PartialAsync("_LoginPartial")

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <footer>
        <div id="faixa-laranja">
            <div class="container">
                <a href="#" class="fa fa-social fa-facebook"></a>
                <a href="#" class="fa fa-social fa-twitter"></a>
                <a href="#" class="fa fa-social fa-youtube"></a>
                <a href="#" class="fa fa-social fa-instagram"></a>
            </div>
            
        </div>
        <div class="container">
            <img src="~/images/logo_vipcon.jpg" class="img-responsive img-rounded" id="logoFooter" />

            <div id="textoFooter">
                <i class="fa fa-icone fa-home fa-fw"></i>Rua José Teixeira, 575, Loja 13, Santa Lúcia, Vitória<br />
                <i class="fa fa-icone fa-envelope fa-fw"></i>contato@vipconconsorcios.com.br<br />
                <i class="fa fa-icone fa-phone fa-fw"></i>(27) 3029-7454<br />
                <i class="fa fa-icone fa-copyright fa-fw"></i>2018 - VipCon<br />
            </div>
        </div>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/Jcrop.js"></script>
        <script src="~/summernote/summernote.min.js"></script>
        <script src="~/summernote/lang/summernote-pt-BR.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/summernote/summernote.min.js"></script>
        <script src="~/summernote/lang/summernote-pt-BR.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
