@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('#item-menu-sobre').addClass("active");
        });

    </script>
}