@page
@model ContactModel
@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>


<address>
    <strong>Endereço:</strong>Rua José Teixeira, 575, Loja 13<br />
    Santa Lúcia, Vitória<br />
    <h3>Telefone: (27) 3029-7454</h3>
    
</address>

<address>
    <strong>Email:</strong> <a href="mailto:contato@vipconconsorcios.com.br">contato@vipconconsorcios.com.br</a><br />    
</address>
